.content {
  height: 100%;
  min-height: 520px;
  background-color: white;
  padding: 0 24px;
}

.fondo {
  /* Establece la imagen de fondo utilizando la ruta relativa a la imagen */
  background-image: url("../../public/images/logo.png");
  /* Ajusta el tamaño y posición de la imagen de fondo */
  background-size: "cover";
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  min-height: 500px;
}

.divSeparador {
  border-bottom: 2px solid orange;
}
